# GTFS data (statisch + afgeleide bestanden)
gtfs_nl_static/
gtfs_static/
stops/database/
*.zip
*.pb
*.geojson

# GIS data
data/
*.gpkg

# Losse GTFS-tabellen
agency.txt
stops.txt
routes.txt
trips.txt
stop_times.txt
shapes.txt
calendar.txt
calendar_dates.txt
routes_trips.csv

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
